
*{
    margin: 0;
    padding: 0;  
    box-sizing: border-box; 
}

#contenedor{
    width: 1300px;
    height: 1100px;
    /* background-color: gray;  */
    margin: 0.3cm auto;
    padding: 0;
}

#header{
    height: 25%;
    background-color: plum; 
    margin: 0em;
    border-radius: 2em;
}

#nav{
    background-color: plum;
    height: 5%;
    margin: 0.5em;
    border-radius: 2em;
}    

#contenido{
    height: 53%;
    
    margin: 0.5em;        
}

#section{
    background-color: plum;    

    height: 100%;
    width: 15%;
    
    border-radius: 2em;
    margin-left: 00.1cm;    
    float: left;
}

#aside{   
    
    height: 100%;
    width: 83%;
    background-color: plum;
    border-radius: 2em;    
    margin-right: 000.1cm;
    float: right;
    
}

#footer{ 
    
    height: 15%;
    background-color: plum;
    margin: 0.5em;
    border-radius: 2em;  
       
    
}

    



